<div class="row">
  <div class="col-xs-12 col-md-6 col-offset-3">
    <div style="text-align: center;" *ngIf="isLoading">
      <app-spinner></app-spinner>
    </div>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
       <!-- <div class="alert alert-danger" *ngIf="errorMessage">
        <h3>Error Message</h3>
        <p>{{errorMessage}}</p>
      </div> -->
      <app-alert [error] = errorMessage *ngIf="errorMessage" (close)="onCloseErrorMsg()"></app-alert>

      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" class="form-control" id="email" ngModel name="email" required email>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" ngModel name="password" required minlength="6">
      </div>

      <div>
        <button class="btn btn-primary" type="submit" [disabled]="authForm.invalid">
          {{ isLoginMode ? 'Login' : 'Sign Up'}}
        </button> |
        <button class="btn btn-primary" type="button" (click)="switchMode()">
          {{ !isLoginMode ? 'Switch to Login' : 'Switch to Sign Up'}}
        </button>
      </div>
      <br>
    </form>
  </div>
</div>
